@model Moodle.Models.Professor
@{
    ViewBag.Title = "Professor Details";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Label("First Name", "First Name: ")
        @Html.DisplayFor(p => p.FirstName)
        <br />

        @Html.Label("Last Name", "Last Name: ")
        @Html.DisplayFor(p => p.LastName)
        <br />

        @Html.Label("Teaching Level", "Teaching Level: ")
        @Html.DisplayFor(p => p.GradDidactic)
        <br />
    </div>
</div>
<br />

@if (User.IsInRole("Professor") || User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "Edit", controllerName: "Professor", method: FormMethod.Get,
        routeValues: new { id = Model.ProfessorId }))
    {
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
    }
    <br />
}

@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "Delete", controllerName: "Professor", method: FormMethod.Post,
            routeValues: new { id = Model.ProfessorId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-primary col-lg-1" type="submit">Delete</button>
    }
    <br />
    <br />
}