@model Moodle.Models.Section
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

@foreach (var file in Model.Files)
{
    <p>@file.Name</p>
    <p>@file.Professor.ToString()</p>
    <p>@file.UploadDate</p>

    if (User.IsInRole("Professor") || User.IsInRole("Student"))
    {
        @Html.ActionLink("Download", "Download", "File", new { id = file.FileId }, null)
        <br />
    }

    if (User.IsInRole("Professor"))
    {
        if (User.Identity.GetUserId().Equals(Model.Course.Professor.UserId))
        {
            @Html.ActionLink("Delete File", "DeleteFile", "File", new { id = file.FileId }, null)
            <br />
        }
    }
}

@if (User.IsInRole("Professor"))
{
    if (User.Identity.GetUserId().Equals(Model.Course.Professor.UserId))
    {
        using (Html.BeginForm("New", "File", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        @Html.HiddenFor(c => c.SectionId)
        <input type="file" name="upload" />
        <input type="submit" />
        }
    }
}

