@model Moodle.Models.Section
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h2>@Model.Name</h2>
    <p>Section of @Html.ActionLink(Model.Course.Name, "Details", "Course", new { id = Model.CourseId }, null)</p>
    @if (User.IsInRole("Professor"))
    {
    <div class="d-flex">
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Section", method: FormMethod.Get,
        routeValues: new { id = Model.SectionId }))
        {
            <button class="btn btn-primary m-1" type="submit">Change name</button>
        }

        @using (Html.BeginForm(actionName: "Delete", controllerName: "Section", method: FormMethod.Post,
            routeValues: new { id = Model.SectionId }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-primary m-1" type="submit">Delete section</button>
        }
    </div>
    }
</div>

@if (Model.Files.Count() != 0)
{
    <div class="d-flex flex-nowrap">
        <ul>
            @foreach (var file in Model.Files)
            {
                <li>
                    <div class="border border-dark">
                        <p>@Html.ActionLink(file.Name, "Download", "File", new { id = file.FileId }, null)</p>
                        <p>
                            Uploaded by @file.Professor.ToString() at
                            @file.UploadDate.ToShortDateString() @file.UploadDate.Hour:@file.UploadDate.Minute
                        </p>
                        @if (User.IsInRole("Professor"))
                        {
                            if (User.Identity.GetUserId().Equals(Model.Course.Professor.UserId))
                            {
                                @Html.ActionLink("Delete File", "DeleteFile", "File", new { id = file.FileId }, null)
                                <br />
                            }
                        }
                    </div>
                </li>
                <br />
            }
        </ul>
    </div>
}
else { 
    <p>There are no files added yet.</p>
}

@if (User.IsInRole("Professor"))
{
    if (User.Identity.GetUserId().Equals(Model.Course.Professor.UserId))
    {
        using (Html.BeginForm("New", "File", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        @Html.HiddenFor(c => c.SectionId)
        <input type="file" name="upload" />
        <input type="submit" />
        }
    }
}

