@model Moodle.Models.Student
@{
    ViewBag.Title = "Student Details";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Label("First Name", "First Name: ")
        @Html.DisplayFor(s => s.FirstName)
        <br />

        @Html.Label("Last Name", "Last Name: ")
        @Html.DisplayFor(s => s.LastName)
        <br />

        @Html.Label("Study Year", "Study Year: ")
        @Html.DisplayFor(s => s.StudyYear)
        <br />

        <p>Courses: </p>
        <ul>
            @foreach (var course in Model.Courses)
            {
                <li>@Html.ActionLink(course.Name, "Details", "Course", new { id = course.CourseId }, null)</li>
            }
        </ul>
    </div>
</div>
<br />

@if (User.IsInRole("Student") || User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "Edit", controllerName: "Student", method: FormMethod.Get,
        routeValues: new { id = Model.StudentId }))
    {
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update details</button>
    }
    <br />
}

@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "Delete", controllerName: "Student", method: FormMethod.Post,
            routeValues: new { id = Model.StudentId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-primary col-lg-1" type="submit">Delete</button>
    }
    <br />
    <br />
}